<!-- Bootstrap Navbar -->
<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Yelp Clone</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/"
            >Reviews <span class="sr-only">(current)</span></a
          >
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/add"
            >Add Review <span class="sr-only">(current)</span></a
          >
        </li>
      </ul>
    </div>
  </nav>
</div>

<div class="container">
  <h1>Reviews</h1>
  <div *ngIf="businesses">
    <div class="card-group">
      <div class="col-sm-4 mb-2" *ngFor="let c of businesses">
        <div class="card">
          <img src="http://localhost:3000/${c.business_id}" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">{{ c.name }}</h5>
            <span
              *ngFor="let index of [].constructor(c.stars)"
              class="fa fa-star checked"
            ></span>
            <span
              *ngFor="let index of [].constructor(5 - c.stars)"
              class="fa fa-star"
            ></span>
            <p class="card-text">{{ c.categories }}</p>
            <a href="/{{c.business_id}}" class="btn btn-primary"> More </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
